<IfModule mod_rewrite.c>
  Options +FollowSymlinks
  RewriteEngine On

  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.*)$ index.php/Home/Index/$1 [QSA,PT,L]
</IfModule>
order allow,deny
deny from 183.60.243.234
allow from all