<extend name="index" />
<block name="content">
    <div class="container-fluid">
        <form class="form-horizontal" action="__SELF__" method="post">
            <div class="form-group">
                <label for="Title" class="col-md-1 control-label">Title:</label>
                <div class="col-md-5">
                    <input type="text" class="form-control" id="Title" name="title" placeholder="Enter Title" required />
                </div>
            </div>
            <div class="form-group">
                <label for="Title" class="col-md-1 control-label">Category:</label>
                <div class="col-md-2">
                    <select class="form-control" name="category">
                        <volist name="category_list" id="vo">
                            <option value="{$vo.id}">{$vo.name}</option>
                        </volist>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="Tags" class="col-md-1 control-label">Tags:</label>
                <div class="col-md-5">
                    <input type="text" class="form-control" id="Tags" name="tags" placeholder="Enter Tags  (Most 5,use ',' to separate)" required>
                </div>
            </div>
            <div class="form-group">
                <label for="Summary" class="col-md-1 control-label">Summary:</label>
                <div class="col-md-5">
                    <textarea class="form-control" rows="3" id="Summary" name="summary" placeholder="Enter Summary" required></textarea>
                </div>
            </div>
            <div class="form-group">
                <!-- 加载编辑器的容器 -->
                <div class="col-md-12">
                    <script id="container" name="content" type="text/plain"></script>
                </div>
            </div>
            <input type="submit" class="btn btn-primary" value="Submit">
        </form>
    </div>
</block>
<block name="js">
    <!-- 配置文件 -->
    <script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.config.js"></script>
    <!-- 编辑器源码文件 -->
    <script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.all.js"></script>
    <!-- 实例化编辑器 -->
    <script type="text/javascript">
    var editor = UE.getEditor('container');
    $(document).ready(function() {
        // $('input:submit').click(function() {
        //     var summary = editor.getPlainTxt().substr(0, 120);
        //     $("#summary").val(summary);
        //     //$('form').submit();
        // });
    });
    </script>
</block>
