<extend name="index" />
<block name="title">
    <title>About Me —JLBlog</title>
</block>
<block name="content">
    <div class="detail">
        <ol class="breadcrumb">
            <li><a href="__ROOT__/">Home</a></li>
            <li class="active">About Me</li>
        </ol>
        <div>
            <h2>个人信息</h2>
            <hr>
            <ul>
                <li>姓名:李大鹏 Joseph Lee</li>
                <li>年龄:22</li>
                <li>职业:本科在读(2012-2016)</li>
                <li>毕业院校:上海建桥学院</li>
                <li>专业:网络工程</li>
                <li>个人特长:自学能力较强</li>
            </ul>
            <h2>个人技能</h2>
            <hr>
            <ul>
                <li>(Upate 2015-04-17 19:44:42 星期五)</li>
                <li>
                    <p>服务器 熟悉php,使用Thinkphp框架制作个人博客 <a href="http://blog.lovetxc.com">JLBLog</a>. 制作PHP脚本爬虫进行校园教务系统信息获取 熟悉Mysql数据库.
                    </p>
                </li>
                <li>
                    <p>移动端 基本熟练iOS开发,熟悉Objective-C,熟悉iOS界面开发.在校期间与同学一起制作学校后勤管理系统,但由于种种原因暂时搁置至今.大三上学期与同学制作一款即时通讯App <a href="https://github.com/ldp940622/LLTalk">LLTalk</a> 作为学期实践. 熟练使用AFNetworking,AsyncSocket等第三方类库,熟悉网络编程,数据库sqlite操作.
                    </p>
                </li>
                <li>
                    <p>前端 熟悉CSS,JS,熟练使用Bootstrap框架
                    </p>
                </li>
                <li>
                    <p>操作系统 熟练使用Linux/CentOS,熟悉LAMP环境
                    </p>
                </li>
            </ul>
            <h2>联系我</h2>
            <hr>
            <ul>
                <li>Github:<a href="https://github.com/ldp940622" title="@Joseph Lee">@Joseph Lee</a></li>
                <li>Weibo:<a href="http://weibo.com/ldp940622">@我知道妳都知道_</a></li>
                <li>Email: <a href="mailto:ldp_0622@163.com">ldp_0622@163.com</a></li>
            </ul>
        </div>
        <div class="page-header">
        </div>
        <!-- 多说评论框 start -->
        <div class="ds-thread" data-thread-key="0" data-title="About Me" data-url="__SELF__"></div>
        <!-- 多说评论框 end -->
    </div>
</block>
