<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="keywords" content="个人博客,ThinkPHP,经验,随笔,Coding,服务器,移动端,IT" />
    <meta name="description" content="JLBlog是我的个人博客,记录一些自己的学习经历和遇到的问题与大家分享" />
    <block name="title">
        <title>
            <notempty name="msg">{$msg.type}:{$msg.name} —</notempty>JLBlog —Beta</title>
    </block>
    <!-- Bootstrap -->
    <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/offcanvas.css" rel="stylesheet">
    <link href="__PUBLIC__/css/custom.css" rel="stylesheet">
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="bookmark" href="favicon.ico" type="image/x-icon" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="jumbotron">
        <div class="container-fluid">
            <h1>JLBlog</h1>
        </div>
    </div>
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="__ROOT__">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="__ROOT__/">TimeLine</a>
                    </li>
                    <li>
                        <a href="__ROOT__/about.html">About</a>
                    </li>
                    <li>
                        <a href="__APP__/Admin">Manage</a>
                    </li>
                </ul>
                <form class="navbar-form navbar-right" role="search" method="get" action="__ROOT__/search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search" name="keyword">
                    </div>
                    <button type="submit" class="btn btn-default">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row row-offcanvas row-offcanvas-right">
            <div class="col-xs-12 col-sm-9">
                <p class="pull-right visible-xs">
                    <button type="button" class="btn btn-primary btn-xs" id="slider-btn" data-toggle="offcanvas">SliderBar></button>
                </p>
                <block name="content">
                    <notempty name="msg">
                        <ol class="breadcrumb">
                            <li><a href="__ROOT__">Home</a></li>
                            <li class="active">搜索到{$msg.type}为{$msg.name}的记录:</li>
                        </ol>
                    </notempty>
                    <volist name="article_list" id="article">
                        <div class="summary">
                            <div class="page-header">
                                <h1>{$article.title}</h1>
                            </div>
                            <div>{$article.summary}</div>
                            <div>...</div>
                            <p class="page-footer">
                                <p class="details-btn">
                                    <a class="btn btn-primary" href="__ROOT__/article/id/{$article.id}.html" role="button">View details &raquo;</a>
                                </p>
                                <hr>
                                <p class="details-bar">
                                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                                    <span class="details-items">{$article.date|substr=0,10}</span>
                                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                    <span class="details-items">{$article.views}次浏览</span>
                                    <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                                    <span class="details-items">
                                        <!-- UYAN COUNT BEGIN -->
                                        <a href="__ROOT__/article/id/{$article.id}.html#comment" id="uyan_count_unit" du="" su="" class="comment-count">0条评论</a>
                                        <!-- UYAN COUNT END --> 
                                    </span>
                                </p>
                            </p>
                        </div>
                    </volist>
                </block>
            </div>
            <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
                <div class="slider">
                    <h3>&ensp;Categories</h3>
                    <div class="list-group">
                        <volist name="category_list" id="category">
                            <a href="__ROOT__/category/id/{$category.id}.html" class="list-group-item" id="category-list">{$category.name}</a>
                        </volist>
                    </div>
                </div>
                <div class="slider">
                    <h3>&ensp;Tags</h3>
                    <ul class="nav nav-pills" role="tablist">
                        <volist name="tag_list" id="tag">
                            <li role="presentation">
                                <a href="__ROOT__/tag/id/{$tag.id}.html">
                                {$tag.name}
                            </a>
                            </li>
                        </volist>
                    </ul>
                </div>
                <div class="slider">
                    <h3>&ensp;Links</h3>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12 col-md-12">
                                <a href="https://www.digitalocean.com/?refcode=013a649a7de0" class="thumbnail">
                                    <img src="__PUBLIC__/pic/do.jpg" alt="DigitalOcean">
                                </a>
                            </div>
                            <div class="col-xs-12 col-md-12">
                                <a href="https://v2ex.com" class="thumbnail">
                                    <img src="__PUBLIC__/pic/v2ex@2x.png" alt="V2EX">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <footer>
            <p class="text-center">&copy; 2015 Joseph Lee.</p>
            <p class="text-center">All rights reserved. </p>
        </footer>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="__PUBLIC__/js/bootstrap.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $('[data-toggle="offcanvas"]').click(function() {
            $('.row-offcanvas').toggleClass('active')
        });
    });
    </script>
    <block name="js">
        <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=02023350"></script>
    </block>
</body>

</html>
